<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" routerLink="/tabs/dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise" routerLink="/tabs/exercise">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Exercice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" routerLink="/tabs/stats">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals" routerLink="/tabs/goals">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Objectifs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
